@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @Data.GlobalCounterf.GlobalCounter</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {


    private void IncrementCount()
    {
        Data.GlobalCounterf.GlobalCounter++;
    }
}

