@page "/group/add"

@attribute [Authorize(Roles="admin")]

@using SkolniEvidence.Data
@using SkolniEvidence.Model

@inject ApplicationDbContext context
@inject NavigationManager nav

<h3>Nová třída</h3>

<EditForm Model="trida" OnSubmit="Save">
    <div class="mb-3">
        <label class="form-label">
            Třída (name):
            <InputText @bind-Value="trida.Name" class="form-control" />
        </label>
    </div>
    <div class="mb-3">
        <label class="form-label">
            Popis:
            <InputText @bind-Value="trida.Description" class="form-control" />
        </label>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Ulož</button>
    </div>
</EditForm>

@code {
    Group trida = new();

    void Save()
    {
        Console.WriteLine($"Saving class: {trida.Name}, Description: {trida.Description}");

        try
        {
            context.Groups.Add(trida);
            context.SaveChanges();

            nav.NavigateTo("/");

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error saving class: {ex.Message}");
            // Handle the error appropriately, e.g., show a message to the user
		}
    }
}
