@page "/student/add/{id:int}"

@inject ApplicationDbContext context
@inject NavigationManager nav

<h3>Nový student</h3>

<EditForm Model="student" OnSubmit="Save">
    <div class="mb-3">
        <label class="form-label">
            Jméno:
            <InputText @bind-Value="student.FirstName" class="form-control" />
        </label>
    </div>
    <div class="mb-3">
        <label class="form-label">
            Příjmení:
            <InputText @bind-Value="student.LastName" class="form-control" />
        </label>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Pohlaví:
            <InputCheckbox @bind-Value="student.Male"  />
        </label>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Datum narození:
            <InputDate @bind-Value="student.BirthDate" class="form-control" />
        </label>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Ulož</button>
    </div>
</EditForm>

@code {

    [Parameter]
    public int id { get; set; }

    Student student = new Student();
    Group trida = new Group();

    protected override void OnInitialized()
    {
        trida = context
                    .Groups
                    .Where(trida => trida.Id == id)
                    .First();
    }

    void Save()
    {
        try
        {
            trida.Students.Add(student);
            context.SaveChanges();
            nav.NavigateTo("/");

        }catch(Exception ex)
        {
            Console.WriteLine(ex);
        }
    }
}
